@import url(//db.onlinewebfonts.com/c/0a27670d815ee8a5831cf4239c2be418?family=FuntypeW01-Regular);

@font-face {font-family: "FuntypeW01-Regular";
  src: url("//db.onlinewebfonts.com/t/0a27670d815ee8a5831cf4239c2be418.eot");
  src: url("//db.onlinewebfonts.com/t/0a27670d815ee8a5831cf4239c2be418.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/0a27670d815ee8a5831cf4239c2be418.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/0a27670d815ee8a5831cf4239c2be418.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/0a27670d815ee8a5831cf4239c2be418.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/0a27670d815ee8a5831cf4239c2be418.svg#FuntypeW01-Regular") format("svg");
}

html, body, #root, .carousel {
	height:100%;
	margin: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
.ui.secondary.menu {
  min-height: 150px;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #1564bf;
  color: #5e91f2;
  text-align: center;
  margin-top: 30px;
  padding: 30px;
  font-weight: 900;
  bottom: 0px;
  width: 100%;
  font-size: 15px;
}

#logo {
  width: 100px;
}

.ui.secondary.menu .active.item {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(94, 145, 242, 0.95);
  color: rgba(255, 255, 255, 0.95);
  border-radius: .28571429rem;
}

.ui.secondary.menu .active.item:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(94, 145, 242, 0.95);
  color: rgba(255, 255, 255, 0.95);
  border-radius: .28571429rem;
}

.ui.secondary.menu a.item:hover{
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(94, 145, 242, 0.95);
  color: rgba(255, 255, 255, 0.95);
  border-radius: .28571429rem;
}

.ui.secondary.menu {
  padding: 0px 10px 0 0;
  margin: 0;
}

.carousel {
  text-align: center;
}