@import url(//db.onlinewebfonts.com/c/0a27670d815ee8a5831cf4239c2be418?family=FuntypeW01-Regular);

@font-face {font-family: "FuntypeW01-Regular";
  src: url("//db.onlinewebfonts.com/t/0a27670d815ee8a5831cf4239c2be418.eot");
  src: url("//db.onlinewebfonts.com/t/0a27670d815ee8a5831cf4239c2be418.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/0a27670d815ee8a5831cf4239c2be418.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/0a27670d815ee8a5831cf4239c2be418.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/0a27670d815ee8a5831cf4239c2be418.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/0a27670d815ee8a5831cf4239c2be418.svg#FuntypeW01-Regular") format("svg");
}

html, body, #root, .carousel {
	height:100%;
	margin: 0;
	width: 100%;
}

h1 {
  font-family: FuntypeW01-Regular;
  font-size: 40px;
  text-shadow: 0 2px 0 rgba(0,0,0,.5);
  font-weight: 500;
  color: #fff;
}

#logo {
  width: 100px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.signup-form {
  text-align: center;
  max-width: 550px;
  padding: 30px 30px 10px;
  border-radius: 10px;
  background-color: #f5f5f5;
  margin: 0!important;
}

.shelter-form {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.shelter-inner-form {
  width:300px;
  padding-top: 40px;
  padding-right: 50px;
}

.volunteer-form {
  width:300px;
  padding-top: 40px;
  padding-left: 50px;
}

.image-slide {
	height: 600px;
	width: 100%;
	transition: background-image .3s ease-in-out;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
