
h1 {
  font-family: FuntypeW01-Regular;
  font-size: 40px;
  text-shadow: 0 2px 0 rgba(0,0,0,.5);
  color: #fff;
}

.signup-form {
  text-align: center;
  max-width: 550px;
  padding: 30px 30px 10px;
  border-radius: 10px;
  background-color: #f5f5f5;
  margin: 0!important;
}

.shelter-form {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.login-form-div {
  display: flex;
  justify-content: center;
  width:100%;
  padding-top: 25px;
}

.login-form {
  width: 300px;
  padding: 30px 30px 10px;
  border-radius: 10px;
  background-color: #f5f5f5;
  margin: 0!important;
}

.shelter-inner-form {
  width:300px;
  padding-top: 40px;
  padding-right: 50px;
}

.volunteer-form {
  width:300px;
  padding-top: 40px;
  padding-left: 50px;
}

.image-slide {
	height: 600px;
	width: 100%;
	transition: background-image .3s ease-in-out;
}

.error-msg {
  color: red;
}